html{
    margin-left: 30px;
 
}
body{


    overflow-x: hidden !important;
   width: 100vw !important;
  
  
}
body{

}
.second-nav>a{

   color: black;
   padding: 5px;
}
.row-1{
    width: 180x;
    height: 30px;
   
     color: #f94a3d;
     font-weight: bolder;
}

.nav-barr{
    /* width: fit-content; */
}
.box-1{
/* width: 1200px; */

    background-image: url(./f22.png);
    background-size: cover;

}

.mainn{
    margin-left: 200px;
}
.box-2{
    width: 300px;
    height: 400px;

}
.box-2>p{
    font-size: 11px;
 
}
.aaa{
    margin-top: 150px;
}
.box-2-btns{
    width: 150px;
    height: 50px;

}
.btnss{

    background-color: #f94a3d;
    color: white;
    height: 30px;
    border-radius: 10px;
    border: none;
  

}

.second-sec{
    margin-top: 50px;
    display: flex;

    justify-content: space-around;
    align-items: center;
    
    height: 300px;

}
.second-sec-box-1{
    margin-top: 30px;
width: 150px;
height: 180px;
margin-left: 20px;

}
.second-sec-box-1>p{
    font-size: 10px;
}

.second-sec-box-2{
  
margin-top: 30px;
 width: 200px;
height: 180px;

   
}
.second-sec-box-2>p{
    font-weight: 600;
    font-size: 30px;

}

.second-sec-box-2-chicken-image{
    height: 80px;
width: 80px;
    background-image: url('./chicken.png');
    background-size: cover;
    margin: auto;
}

.second-sec-box-3{
   
    margin-top: 30px;
     width: 220px;
    height: 220px;
   
}

.second-sec-box-3-scooter-image{
    height: 80px;
    width: 80px;
        background-image: url('./scooter.png');
        background-size: cover;
        margin: auto;
}

.second-sec-box-4{
  
    margin-top: 30px;
     width: 220px;
    height: 220px;
  
}
.second-sec-box-4-review-image{
    height: 80px;
    width: 80px;
        background-image: url('./review.png');
        background-size: cover;
        margin: auto;
}
.second-sec-box-4>p{
    color: #212244;
    font-weight: 600;
    font-size: 30px;

}

.new-sec-2{

    margin-top: 50px;

    height: 400px;
    margin-bottom: 300px !important;
    
}
.new-sec-2>img{
    background-size: cover;
    /* width: fit-content; */
    margin-bottom: 60px;   
   
}

.new-sec-3{
  
    margin-top: 80px  !important;

}
.new-sec-3>img{
    background-size: contain;

}
.download-sec-4{
    margin-top: 80px;


}
.download-sec-4>img{
    background-size: cover;
}
.footer-sec{
    margin-top: 0px;

}
.footer-sec>img{
    background-size: cover;
}





